<html>
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="Author" content="Your Name" />
		<title>MY PROJECT NAME | PAGE NAME</title>
	<!-- EXTERNAL CSS FILES -->
		<link href="fa/css/fa.css" rel="stylesheet">
		<link href="css/w3.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
	</head>
	<body>
	<!-- MAIN BODY CONTENT STARTS-->

	<div class="w3-container w3-black w3-padding-large">
		<div class="w3-row">
			<div class="w3-col l1 m1">
				<br/>
			</div>
			<div class="w3-col l3 m3">
				<b class="w3-xlarge fa w3-bar-item w3-margin">
					<i class="fa fa-camera-retro"></i> CONSTRUCT
				</b>
			</div>
			<div class="w3-col l7 m7">
				<div class="w3-bar w3-text-white ">
					<a href="index.html" class="w3-bar-item w3-round w3-yellow w3-padding-small w3-button w3-margin">
						HOME
					</a>
					<a href="index.html" class="w3-bar-item w3-round w3-padding-small w3-button w3-margin">
						WHO WE ARE?
					</a>
					<a href="index.html" class="w3-bar-item w3-round w3-padding-small w3-button w3-margin">
						OUR SERVICES
					</a>
					<a href="index.html" class="w3-bar-item w3-round w3-padding-small w3-button w3-margin">
						GALLERY
					</a>
					<a href="index.html" class="w3-bar-item w3-round w3-padding-small w3-button w3-margin">
						BLOG
					</a>
					<a href="index.html" class="w3-bar-item w3-round w3-padding-small w3-button w3-margin">
						CONTACT
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="w3-dislpay-container">
		<img src="images/main.jpg" class="w3-image w3-block"/>
		<span class=" w3-border w3-display-middle w3-text-white w3-border-yellow w3-center">
			<b class="w3-xxlarge w3-wide fa w3-margin">WE CAPTURE THINGS</b>
			<br/>
			<button class="w3-button  w3-yellow w3-margin-top btn_started w3-card">
				<b>GET STARTED</b>
			</button>
		</span>
	</div>

	<!-- MAIN BODY CONTENT ENDS -->
	</body>
</html>
